# Python 与 SQL的联动

## SQLite

### 数据库连接
- SQLite比较方便直接，因为python里面自带一个package`sqlite3`，就不用isntall其他的package了。
- SQLite是serverless的，这意味着，与MySQL和PostgreSQL不同，我们就不需要安装类似于 SQLite server这种东西，可以直接进行数据库的一些操作。
- 下面的函数实现：在`path`这里创建一个SQLite database

In [1]:
import sqlite3
from sqlite3 import Error

def create_connection(path):
    connection = None
    try:
        connection = sqlite3.connect(path)
        print("Connection to SQLite DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [20]:
# 在SQLite目录下创建 SQLiteDB.sqllite
connection = create_connection("SQLite/SQLiteDB.sqllite")

Connection to SQLite DB successful

### 执行query
- 执行query： 使用`cursor.execute()`，例如使用以下函数

In [17]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [18]:
create_users_table = """
CREATE TABLE IF NOT EXISTS users (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  age INTEGER,
  gender TEXT,
  nationality TEXT
);
"""

In [19]:
execute_query(connection, create_users_table)

Query executed successfully

In [6]:
create_comments_table = """
CREATE TABLE IF NOT EXISTS comments (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  text TEXT NOT NULL, 
  user_id INTEGER NOT NULL, 
  post_id INTEGER NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

create_likes_table = """
CREATE TABLE IF NOT EXISTS likes (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  user_id INTEGER NOT NULL, 
  post_id integer NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

execute_query(connection, create_comments_table)  
execute_query(connection, create_likes_table)

Query executed successfully
Query executed successfully

- 从上面可以看出，其实只要在python里面建立了和数据库的连接，把query写在一个string里面，然后使用`cursor.execute(your_query_string)`就可以了。
- MySQL和PostgreSQL也一样，输入对应语法的query即可

### INSERT 使用

In [21]:
create_users = """
INSERT INTO
  users (name, age, gender, nationality)
VALUES
  ('James', 25, 'male', 'USA'),
  ('Leila', 32, 'female', 'France'),
  ('Brigitte', 35, 'female', 'England'),
  ('Mike', 40, 'male', 'Denmark'),
  ('Elizabeth', 21, 'female', 'Canada');
"""

execute_query(connection, create_users)

Query executed successfully

In [23]:
create_posts = """
INSERT INTO
  posts (title, description, user_id)
VALUES
  ("Happy", "I am feeling very happy today", 1),
  ("Hot Weather", "The weather is very hot today", 2),
  ("Help", "I need some help with my work", 2),
  ("Great News", "I am getting married", 1),
  ("Interesting Game", "It was a fantastic game of tennis", 5),
  ("Party", "Anyone up for a late-night party today?", 3);
"""

execute_query(connection, create_posts)

The error 'no such table: posts' occurred

In [24]:
create_comments = """
INSERT INTO
  comments (text, user_id, post_id)
VALUES
  ('Count me in', 1, 6),
  ('What sort of help?', 5, 3),
  ('Congrats buddy', 2, 4),
  ('I was rooting for Nadal though', 4, 5),
  ('Help with your thesis?', 2, 3),
  ('Many congratulations', 5, 4);
"""

create_likes = """
INSERT INTO
  likes (user_id, post_id)
VALUES
  (1, 6),
  (2, 3),
  (1, 5),
  (5, 4),
  (2, 4),
  (4, 2),
  (3, 6);
"""

execute_query(connection, create_comments)
execute_query(connection, create_likes)

Query executed successfully
Query executed successfully

### SELECT的使用
- 和上面说的一样，同样需要使用`cursor.execute()`，但是在此之后，需要call一个叫做`.fetchall()`的方法，它会返回一个list，每个元素是一个tuple，每个tuple会对应records里的一行的数据

In [7]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [22]:
select_users = "SELECT * from users"
users = execute_read_query(connection, select_users)

for user in users:
    print(user)

(1, 'James', 25, 'male', 'USA')
(2, 'Leila', 32, 'female', 'France')
(3, 'Brigitte', 35, 'female', 'England')
(4, 'Mike', 40, 'male', 'Denmark')
(5, 'Elizabeth', 21, 'female', 'Canada')

## MySQL
- 对于MySQL来说，需要install一个 Python SQL driver（所以他是server-based database management system），这样才可以和MySQL的数据库联动，可以使用`pip install mysql-connector-python`
- 对于上面的SQLite来说，创建了connection就意味着创建了database。但是创建MySQL Database需要两步

    - 与MySQL server创建连接
    - execute a query从而创建数据库

In [ ]:
import mysql.connector
from mysql.connector import Error

def create_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [ ]:
connection = create_connection("localhost", "root", "password")

以上操作只是成功连接到MySql，但不代表你create databse了，想要创建数据库，还需要进行以下操作

In [ ]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

In [ ]:
create_database_query = "CREATE DATABASE aft_sql_test"
create_database(connection, create_database_query)

创建之后，通过下面操作就可以进行database的连接了

In [ ]:
def create_database_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("Connection to MySQL DB successful")
    except Error as e:
        print(f"The error '{e}' occurred")

    return connection

In [ ]:
database_connection = create_database_connection("localhost", "root", "password", "aft_sql_test")

## PostgreSQL
- 同样的，我们需要istall第三方的package才能实现与PostgreSQL的联动，使用`pip install psycopg2`安装
- 使用下面的操作建立连接

In [ ]:
import psycopg2
from psycopg2 import OperationalError

def create_connection(db_name, db_user, db_password, db_host, db_port):
    connection = None
    try:
        connection = psycopg2.connect(
            database=db_name,
            user=db_user,
            password=db_password,
            host=db_host,
            port=db_port,
        )
        print("Connection to PostgreSQL DB successful")
    except OperationalError as e:
        print(f"The error '{e}' occurred")
    return connection

首先，与default的database `postgres`创建连接，然后我们再define一个函数`create_database`在`postfres`database里面创建名为`aft_sql_test`的databse

In [ ]:
connection = create_connection(
    "postgres", "db_user", "db_password", "db_host", "db_port"
)

In [ ]:
def create_database(connection, query):
    connection.autocommit = True
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Query executed successfully")
    except OperationalError as e:
        print(f"The error '{e}' occurred")

In [ ]:
create_database_query = "CREATE DATABASE aft_sql_test"
create_database(connection, create_database_query)

In [ ]:
database_connection = create_connection(
     "aft_sql_test", "postgres", "abc123", "127.0.0.1", "5432"
)

# 使用FileSync的方式
credit to 孙博

## WIND底层数据库
WIND底层数据库是和WIND资讯金融终端对应的底层数据库，其中包含了WIND终端内所有的数据。

WIND底层数据库的优点：
- 数据提取量没有上限限制（但是不建议一次提取巨大量的数据）
- 数据种类更多（A股、债券、期货、宏观、公司企业公告等数据）
- 只要连接PHBS的WiFi，接入PHBS的内网即可使用该数据库提取数据
- 方便编程及构建模型

WIND底层数据库的缺点：
- 用户界面没有WIND终端友好
- 提取方式需要写SQL语句

## SQL and SQLAlchemy

`sqlalchemy`是一个Python软件包，它允许使用Python代码与多种不同的SQL数据库（Oracle，PostgreSQL，MySQL，SQLite等）创建通用接口并进行交互。

sqlalchemy包默认包含在anaconda中，如果你使用的不是anaconda环境，请运行`pip install sqlalchemy`安装。

为使用Oracle数据库，我们还需要安装cx_oracle包，请运行`pip install cx_oracle`安装。

In [1]:
# %pip install cx_Oracle
import os
import configparser
import pandas as pd
import sqlalchemy as sa

from sqlalchemy.ext.declarative import declarative_base

## 配置服务器连接

请修改你的database.ini文件，填入对应的用户名和密码（其他不用改）。然后使用下面的程序载入配置

In [9]:
# 载入database.ini文件
def read_db_config(ini_file='sample_database.ini', section='WIND'):
    """
    读取服务器配置参数
    """  
    if not os.path.exists(ini_file):
        raise IOError('不存在服务器参数配置文件[%s]' %config_file)
        
    config = configparser.ConfigParser()
    config.read(ini_file, encoding='utf-8')  
    db_config = {}
    if section in config.sections():
        db_config = dict(config._sections[section])
    else:
        print('不存在section：' + section)
                
    return db_config

config = read_db_config()

## A SQLalchemy engine

使用create_engine创建连接。请注意，如果你没有安装oracle instantclient，在读取数据时可能报错"sqlalchemy Cannot locate a 64-bit Oracle Client library"。如果运行出错
1. 下载[Oracle InstantClient](https://www.oracle.com/database/technologies/instant-client/winx64-64-downloads.html)并解压
2. 运行下列代码载入Oracle InstantClient（使用自己的文件地址）

initial Oracle Client library 只需要运行一次就行

In [ ]:
import cx_Oracle    
# cx_Oracle.init_oracle_client(lib_dir=r"你的instantclient根目录")
cx_Oracle.init_oracle_client(lib_dir=r"D:\Software\oracle\instantclient_19_9")

建立SQL alchemy engine，在配置文件中把自己申请的账号密码改一下就行

In [11]:
eng = sa.create_engine(('{dbtype}://{user}:{password}@{host}:{port}/'
                   '{sid}').format(**config))
eng

Engine(oracle+cx_oracle://yourUserName:***@219.223.208.52:1521/ORCL)

## SQL读取命令

我们将在SQLAlchemy引擎中运行原始SQL命令。通常我们有两种方式
1. 使用下述的run_query函数
2. 使用pandas包的read_sql函数

**注意**：好的做法是大写SQL关键字。例如，您应该编写`SELECT`和`FROM`而不是写`select`和`from`，

In [5]:
# 读取数据库函数之一
def run_query(eng, query, str_length=30):
    with eng.connect() as conn:
        result = conn.execute(query)
        cols = result.keys()
        vals = result.fetchmany(5)

        fmter = ("{" + f":<{str_length}" + "}") * len(cols)
        print(fmter.format(*cols))
        for _vals in vals:
            _pvals = map(lambda x: str(x)[:str_length], _vals)
            print(fmter.format(*_pvals))

In [8]:
query = """
        SELECT DISTINCT TRADE_DAYS 
        FROM FILESYNC.AShareCalendar
        """

pd.read_sql(query,eng)

     trade_days
0      20141120
1      20141209
2      20141211
3      20141230
4      20150114
...         ...
7837   20220325
7838   20220418
7839   20220506
7840   20220512
7841   20220516

[7842 rows x 1 columns]